<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>A blog</title>
    
    </head>
    <body>
        <!-- <h1>This is Index page</h1> -->
        <div class="container">
            <div class="m-4 text-center">
               <h1 class="text-white">Technical Blog</h1>
               <p class="text-white"><em><--&nbsp;&nbsp;Technology for Innovators&nbsp;&nbsp;--></em></p>
            </div>
            <div class="row mb-3">
                <a href="blogs/new" class="btn btn-success btn-sm d-flex align-items-center"><i
                    class="material-icons mr-2">add_circle</i> New Blog</a>
            </div>
            <div class="row">
                <!-- blogs content -->
                <% if( blog.length<1 ){%>
                    <p class="text-white">No Blogs are created yet. Create new one</p>
                <%}%>    
                <% blog.forEach(blogs=> { %>
                    <div class="col-lg-6 card mt-2 mr-0">
                        <div class="row p-2">
                            <div class="col-5 overflow-hidden">
                                <img src="/uploads/images/<%= blogs.img%>" alt="ai image" class="card-img mt-3" style="width:220px;height:175px">
                            </div>
                            <div class="col-7">
                                <div class="d-flex align-items-start  mt-3">
                                    <h5 class="w-100"><b><%=blogs.title %></b></h5>
                                    <!-- display more button -->
                                    <div class="more position-relative" style="cursor: pointer;">
                                        <i class="material-icons p-2">more_vert</i>
                                        <!-- options list -->
                                        <div class="d-none options card rounded-pill shadow-sm p-1 position-absolute">
                                            <a href="blogs/edit/<%= blogs.id %> " class="rounded-circle p-2 mb-2"
                                                style="background:rgb(56, 128, 221);">
                                                <i class="material-icons" style="color:white">create</i>
                                            </a>
                                            <form action="/blogs/<%= blogs.id %>?_method=DELETE" method="POST">
                                                <button class="rounded-circle p-2 bg-danger">
                                                    <i class="material-icons" style="color:white">delete</i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
        
                                <span class="align-self-stretch "><%= blogs.snippet %>
        
                                </span>
                                <div class="mt-3 d-flex align-items-end">
                                    <div class="mr-2">
                                        <img src="/uploads/images/<%= blogs.img%>" class="rounded-circle"
                                            style="width: 40px; height: 40px;">
                                    </div>
                                    <div class=" flex-grow-1">
                                        <h5 class="" style="font-size: 12px; line-height: 0.8rem;">
                                            <span class="mt-4"><b><%= blogs.author%></b></span></h5>
                                        <p style="font-size: 8px; line-height: 0.2rem;">
                                            <%= blogs.createdAt.toLocaleDateString()%>
                                        </p>
                                    </div>
                                    <a href="blogs/<%= blogs.slug%>" class=" align-self-end">
                                        <i class='material-icons ml-3 text-black'>send</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <%})%>
                
            </div>
        </div>
       
        <script src="/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>